@import "../base.css";
#main{
  position: relative;
  margin:  0 auto  0 auto;
  display: block;
  border: 3px ridge #2f2f3b;
}
.floor{
  margin: 10px auto 0 auto;
  background-color: #cc7a00;
  width: 606px;
  height: 50px;
  border-style: outset ;
  border-color: #cc7a00;
  border-width: 5px 50px 5px 50px;
  box-sizing: border-box;
}
.floor h2{
  width: auto;
  margin: 0 auto;
  height: 100%;
  background-color: #1a1a00;
  border: 3px inset #ff8533;
  color: #ffd633;
  text-align: center;
  line-height: 34px;
  box-sizing: border-box;
}
audio{
  display: none;
}
