@import "../base.css";

#main{
  width: 600px;
  height: 600px;
  margin: 6px auto;
  border: 2px solid #a2c3b3;
}
h3{
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  margin: 6px auto;
}
#grids{
  width: 500px;
  height: 500px;
  margin: auto;
  box-sizing: content-box;
  background-color:red;
  display: flex;
  flex-wrap: wrap;
}
.grid{
  box-sizing: border-box;
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: #55fc2a;
  border: 3px outset #32bcf2;
  font-size: 15px;
  text-align: center;
  color: #0000ff;
  font-family: monospace;
  font-weight: bolder;

}
